body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .content1,
  .content2,
  .content3 {
    background-color: #999999;
  }
  .mySpan {
    color: white;
    font-weight: bold;
  }
  #span1 {
    background-color: #d59897;
  }
  #span2 {
    background-color: #c14543;
  }
  #span3 {
    background-color: #e5d197;
  }
  
  @media screen and (min-width: 992px) {
    .mainContainer {
      width: 100%;
      margin: auto;
    }
    .mainHeading {
      text-align: center;
    }
    .content-main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      flex-wrap: nowrap;
    }
    .content1,
    .content2,
    .content3 {
      border: 2px solid #060606;
      width: 30%;
      margin: 10px;
      padding: 10px;
      /* float: left; */
    }
    .mySpan {
      border: 2px solid #060606;
      float: right;
      position: relative;
      top: -12px;
      right: -12px;
      padding: 3px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainContainer {
      width: 100%;
      margin: auto;
    }
    .mainHeading {
      text-align: center;
    }
    .content-main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      flex-wrap: wrap;
    }
    .content1,
    .content2 {
      border: 2px solid #060606;
      width: 45.2%;
      /* margin: 10px; */
      padding: 10px;
    }
    .content1 {
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .content2 {
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .content3 {
      border: 2px solid #060606;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
    }
    .mySpan {
      border: 2px solid #060606;
      float: right;
      position: relative;
      top: -12px;
      right: -12px;
      padding: 3px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .mainContainer {
      width: 100%;
      margin: auto;
    }
    .mainHeading {
      text-align: center;
    }
    .content-main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      flex-wrap: wrap;
    }
    .content1,
    .content2 {
      border: 2px solid #060606;
      width: 100%;
      margin: 10px;
      padding: 10px;
      /* float: left; */
    }
    .content3 {
      border: 2px solid #060606;
      width: 100%;
      margin: 10px;
      padding: 10px;
      /* float: left; */
    }
    .mySpan {
      border: 2px solid #060606;
      float: right;
      position: relative;
      top: -12px;
      right: -12px;
      padding: 3px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }